* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#container {
  display: flex;
  width: 620px;
  height: 620px;
  border: 3px solid black;
  flex-wrap: wrap;
}

.cells {
  border: 1px solid grey;
}