* {
  margin: 0;
}






/* .super-container {
  padding-top: 15%;
  display: flex;
  height: 50%;
  width: 50%;
  margin: auto;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  max-height: 500px;
  border: 4px solid grey;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
}

.cells {
  flex: 1;
  height: 32px;
  width: 32px;
  border: 1px solid grey;
} */